@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-800
    }
}

@layer components {
    .spinner {
        @apply text-gray-200 animate-spin dark:text-gray-600 fill-green-500 w-6 h-6
    }
    .sidebar {
        @apply flex flex-col overflow-hidden bg-gray-900 text-white
    }
    .sidebar-list {
        @apply flex-1 overflow-auto bg-gray-950
    }
    .sidebar-item {
        @apply m-2 p-2 flex items-center gap-4 rounded-md hover:bg-gray-800
    }
    .sidebar-actions {
        @apply absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 dark:bg-gray-700
    }
    .btn {
        @apply rounded-md bg-emerald-500 px-4 py-2 text-white hover:bg-emerald-600 disabled:bg-emerald-300
    }
    .textarea {
        @apply 
            w-full 
            resize-none 
            rounded-md 
            bg-gray-700 
            p-2 
            text-white 
            focus:border-emerald-500 
            focus:bg-gray-600 
            focus:outline 
            focus:outline-emerald-500
    }
    .splash-page {
        @apply relative flex min-h-screen w-full flex-col items-center justify-center z-10
    }
    .bg-animation-waves {
        @apply absolute w-full h-full bg-transparent
    }
    .message {
        @apply grid grid-cols-[30px_1fr] gap-5 p-5 rounded-md mb-2 bg-gray-600 shadow-sm
    }
    .message.message-system {
        @apply bg-red-400/30
    }
    .message.message-system.message-warn {
        @apply bg-yellow-400/30
    }
    .message.message-user {
        @apply bg-gray-800 
    }
    .avatar {
        @apply rounded-sm
    }
    .loading {
        @apply 
            text-2xl 
            after:inline-block 
            after:overflow-hidden 
            after:align-bottom 
            after:content-['\2026'] 
            after:w-0 
            after:animate-ellipsis
    }
    .action-delete {
        @apply text-xs invisible
    }
    .sidebar-item:hover .action-delete {
        @apply visible
    }
    /* .tooltip {
        @apply visible absolute -top-2 left-full px-3 py-2 text-xs
    } font-medium text-white bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700;
    .has-tooltip {
        @apply relative;
    }
    .has-tooltip .tooltip {
        @apply visible z-50;
    } */
}